body{
    background-color: #3a1569;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 20px;
    text-align: center;
    padding: 50px;
}

h2{
    color: #f19d2f;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}


.item{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.item:hover{
    transform: translateY(-5px);
}



.btn{
    display: inline-block;
    padding: 5px 10px;
    background-color: #204b79;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    box-shadow: 0 0 20px  #8da3b9;
    transform: translateY(-5px);
}