body {
    background-color: white;
    color: black;
    transition: 0.3s;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
  }